.plarge {
  font: 400 1rem/1.5rem "Raleway", sans-serif;
}
h1 {
  color: #393939;
  font: 700 3rem/3.5rem "Raleway", sans-serif;
}
.turquoise {
  color: #00bfd8;
}

.lispacelg li {
  margin-bottom: 0.25rem;
}

.btnsolidreg {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid #00bfd8;
  border-radius: 2rem;
  background-color: #00bfd8;
  color: #fff;
  font: 700 0.75rem/0 "Raleway", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btnsolidreg:hover {
  background-color: transparent;
  color: #00bfd8;
  text-decoration: none;
}

.btnsolidlg {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #00bfd8;
  border-radius: 2rem;
  background-color: #00bfd8;
  color: #fff;
  font: 700 0.75rem/0 "Raleway", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.btnsolidlg:hover {
  background-color: transparent;
  color: #00bfd8;
  text-decoration: none;
}

/*********************/
/*    04. Header     */
/*********************/
.header {
  background-color: #fff;
}

.header .headercontent {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

.header .textcontainer {
  margin-bottom: 4rem;
}

.header h1 {
  margin-bottom: 1.125rem;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

.header .plarge {
  margin-bottom: 1.875rem;
}

/*************************/
/*     08. Details 2     */
/*************************/
.basic2 {
  padding-top: 7.7rem;
  padding-bottom: 4rem;
}

.basic2 .imagecontainer {
  margin-bottom: 4rem;
}

.basic2 h2 {
  margin-bottom: 1.375rem;
}

.basic2 .list-unstyled .fa {
  color: #00bfd8;
  line-height: 1.375rem;
}

.basic2 .list-unstyled .mediabody {
  margin-left: 0.625rem;
}

.basic2 .btnsolidreg {
  margin-top: 0.625rem;
}

/*****************************/
/*     20. Media Queries     */
/*****************************/
/* Min-width width 768px */
@media (min-width: 768px) {
  /* Header */
  .header .headercontent {
    padding-top: 10.5rem;
  }

  .header h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  /* end of header */
}
/* end of min-width width 768px */

/* Min-width width 992px */
@media (min-width: 992px) {
  /* Header */
  .header {
    background: url("../img/header-background.jpg") center center no-repeat;
    background-size: cover;
  }

  .header .headercontent {
    padding-top: 11.5rem;
    text-align: left;
  }

  .header .textcontainer {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  /* end of header */

  /* Details 2 */
  .headerbasic2 {
    background: url("../img/wave.svg") center center no-repeat;
    background-size: cover;
  }

  .basic2 .imagecontainer {
    margin-bottom: 0;
  }

  .basic2 .textcontainer {
    margin-top: 3.125rem;
  }
  /* end of details 2 */
}
/* end of min-width width 992px */

/* Min-width width 1200px */
@media (min-width: 1200px) {
  /* Header */
  .header .headercontent {
    padding-top: 12.5rem;
  }

  .header .textcontainer {
    margin-top: 5.375rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .header .imagecontainer {
    margin-left: 2rem;
    margin-right: 1rem;
  }
  /* end of header */

  /* Details 2 */
  .basic2 .textcontainer {
    margin-top: 5.375rem;
    margin-right: 1rem;
    margin-left: 4rem;
  }
  /* end of details 2 */
}
/* end of min-width width 1200px */
